<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>Adverse Impact Analysis</title>
    </head>
    <body style="background: black; font-family: 'Montserrat', sans-serif;">

        <div class="container text-white">
            <h1 class="text-danger text-center my-5">
                Adverse Impact Analysis
            </h1>
            <h5 class="text-left mt-5 mb-3 text-success">Enter the Data</h5>
            <h5 class="text-center mt-2 mb-3 text-warning">RACE</h5>
            <form>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Whites/Caucasians</label>
                        <input type="number" class="form-control" id="totalWhites" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Whites/Caucasians selected</label>
                        <input type="number" class="form-control" id="selectedWhites" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Whites</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Blacks/African Americans</label>
                        <input type="number" class="form-control" id="totalBlacks" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Blacks/African Americans selected</label>
                        <input type="number" class="form-control" id="selectedBlacks" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Blacks/Africans</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Hispanic/Latinos</label>
                        <input type="number" class="form-control" id="totalHispanics" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Hispanic/Latinos selected</label>
                        <input type="number" class="form-control" id="selectedHispanics" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Hispanic/Latinos</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Native Hawaiians</label>
                        <input type="number" class="form-control" id="totalHawaiians" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Native Hawaiians selected</label>
                        <input type="number" class="form-control" id="selectedHawaiians" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Native Hawaiians</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Asians</label>
                        <input type="number" class="form-control" id="totalAsians" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Asians selected</label>
                        <input type="number" class="form-control" id="selectedAsians" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Asians</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Native Americans or Alaska Natives</label>
                        <input type="number" class="form-control" id="totalAmericans" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Native Americans or Alaska Natives selected</label>
                        <input type="number" class="form-control" id="selectedAmericans" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Native Americans or Alaska Natives</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Two/More Races</label>
                        <input type="number" class="form-control" id="totalTows" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Two/More Races selected</label>
                        <input type="number" class="form-control" id="selectedTows" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Two/More Races</small>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkWhite" value="1">
                            <label class="form-check-label" for="checkWhite">White</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkBlack" value="2">
                            <label class="form-check-label" for="checkBlack">Black/African American</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkHispanic" value="3">
                            <label class="form-check-label" for="checkHispanic">Hispanic/Latinos</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkHawaiian" value="4">
                            <label class="form-check-label" for="checkHawaiian">Native Hawaiian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkAsian" value="5">
                            <label class="form-check-label" for="checkAsian">Asian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkAmerican" value="6">
                            <label class="form-check-label" for="checkAmerican">Native American/Alaska Native</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkTwo" value="7">
                            <label class="form-check-label" for="checkTwo">Two or more races</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected" id="checkWhiteP" value="1">
                            <label class="form-check-label" for="checkWhiteP">White</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected" id="checkBlackP" value="2">
                            <label class="form-check-label" for="checkBlackP">Black/African American</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected" id="checkHispanicP" value="3">
                            <label class="form-check-label" for="checkHispanicP">Hispanic/Latinos</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected" id="checkHawaiianP" value="4">
                            <label class="form-check-label" for="checkHawaiianP">Native Hawaiian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected" id="checkAsianP" value="5">
                            <label class="form-check-label" for="checkAsianP">Asian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected" id="checkAmericanP" value="6">
                            <label class="form-check-label" for="checkAmericanP">Native American/Alaska Native</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected" id="checkTwoP" value="7">
                            <label class="form-check-label" for="checkTwoP">Two or more races</label>
                        </div>
                    </div>
                </div>


                <h5 class="text-center mt-2 mb-3 text-warning">GENDER</h5>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Males</label>
                        <input type="number" class="form-control" id="totalMales" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Males selected</label>
                        <input type="number" class="form-control" id="selectedMales" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Males</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Females</label>
                        <input type="number" class="form-control" id="totalFemales" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Females selected</label>
                        <input type="number" class="form-control" id="selectedFemales" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Females</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of People identifying as Others</label>
                        <input type="number" class="form-control" id="totalOthers" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of People identifying as Others selected</label>
                        <input type="number" class="form-control" id="selectedOthers" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of Others</small>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form-gender">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkMaleB" value="1">
                            <label class="form-check-label" for="checkMaleB">Male</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkFemaleB" value="2">
                            <label class="form-check-label" for="checkFemaleB">Female</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkOtherB" value="3">
                            <label class="form-check-label" for="checkOtherB">Other</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form-gender">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected-gender" id="checkMaleP" value="1">
                            <label class="form-check-label" for="checkMaleP">Male</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected-gender" id="checkFemaleP" value="2">
                            <label class="form-check-label" for="checkFemaleP">Female</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected-gender" id="checkOtherP" value="3">
                            <label class="form-check-label" for="checkOtherP">Other</label>
                        </div>
                    </div>
                </div>



                <h5 class="text-center mt-2 mb-3 text-warning">AGE</h5>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of People younger than or equal to 40 years of age</label>
                        <input type="number" class="form-control" id="totalYounger" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of People younger than or equal to 40 selected</label>
                        <input type="number" class="form-control" id="selectedYounger" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of People younger than 40</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of People older than 40</label>
                        <input type="number" class="form-control" id="totalOld" placeholder="">
                        <small class="form-text text-muted">Integer Value >= 0</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of People older than 40 selected</label>
                        <input type="number" class="form-control" id="selectedOld" placeholder="">
                        <small class="form-text text-muted">Integer Value <= Total Number of People older than 40</small>
                    </div>
                </div>

                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form-age">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-age" id="checkYoungB" value="1">
                            <label class="form-check-label" for="checkYoungB">Younger People</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-age" id="checkOldB" value="2">
                            <label class="form-check-label" for="checkoldB">Older People</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form-age">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected-age" id="checkYoungP" value="1">
                            <label class="form-check-label" for="checkYoungP">Younger People</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="protected-age" id="checkOldP" value="2">
                            <label class="form-check-label" for="checkOldP">Older People</label>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-4 mb-5 w-50" onclick="compute(event);">Compute</button>
                    </div>
                </div>
                <div class="row mb-5 d-none" id="results">
                    <div class="col">
                        <h2 class="text-danger text-center">Results</h2>
                        <h5 class="text-left mt-3 text-success">Adverse-Impact Report: <span class="text-white" id="aiReport">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Chi-Square Report: <span class="text-white" id="csReport">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Standard-Deviation Report: <span class="text-white" id="sdReport">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Confidence Interval Report: <span class="text-white" id="ciReport">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Probability Distribution Report: <span class="text-white" id="pdReport">00.00</span></h5>
                    </div>
                </div>
            </form>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <script type="text/javascript">

            var sendData = null;


            function compute(e) {

                e.preventDefault();
                $("#results").addClass('d-none');
                // console.log(checkInputs());
                // console.log(checkGenderInputs());
                // console.log(checkAgeInputs());
                if(checkInputs() || checkGenderInputs() || checkAgeInputs()) {
                    $.ajax({
                        method: 'POST',
                        url: "/api/compute",
                        beforeSend: function() {
                            console.log("iN")
                            var totalWhites = parseInt($("#totalWhites").val() == "" ? 0 : $("#totalWhites").val(),10);
                            var selectedWhites = parseInt($("#selectedWhites").val() == "" ? 0 : $("#selectedWhites").val(),10);

                            var totalBlacks = parseInt($("#totalBlacks").val() == "" ? 0 : $("#totalBlacks").val(),10);
                            var selectedBlacks = parseInt($("#selectedBlacks").val() == "" ? 0 : $("#selectedBlacks").val(),10);

                            var totalHispanics = parseInt($("#totalHispanics").val() == "" ? 0 : $("#totalHispanics").val(),10);
                            var selectedHispanics = parseInt($("#selectedHispanics").val() == "" ? 0 : $("#selectedHispanics").val(),10);

                            var totalHawaiians = parseInt($("#totalHawaiians").val() == "" ? 0 : $("#totalHawaiians").val(),10);
                            var selectedHawaiians = parseInt($("#selectedHawaiians").val() == "" ? 0 : $("#selectedHawaiians").val(),10);

                            var totalAsians = parseInt($("#totalAsians").val() == "" ? 0 : $("#totalAsians").val(),10);
                            var selectedAsians = parseInt($("#selectedAsians").val() == "" ? 0 : $("#selectedAsians").val(),10);

                            var totalAmericans = parseInt($("#totalAmericans").val() == "" ? 0 : $("#totalAmericans").val(),10);
                            var selectedAmericans = parseInt($("#selectedAmericans").val() == "" ? 0 : $("#selectedAmericans").val(),10);

                            var totalTows = parseInt($("#totalTows").val() == "" ? 0 : $("#totalTows").val(),10);
                            var selectedTows = parseInt($("#selectedTows").val() == "" ? 0 : $("#selectedTows").val(),10);

                            var benchmarkId = $('input[name=benchmark]:checked', '#benchmark-form').val();
                            var protectedId = $('input[name=protected]:checked', '#protected-form').val();

                            //GENDER
                            var totalMales = parseInt($("#totalMales").val() == "" ? 0 : $("#totalMales").val(),10);
                            var selectedMales = parseInt($("#selectedMales").val() == "" ? 0 : $("#selectedMales").val(),10);

                            var totalFemales = parseInt($("#totalFemales").val() == "" ? 0 : $("#totalFemales").val(),10);
                            var selectedFemales = parseInt($("#selectedFemales").val() == "" ? 0 : $("#selectedFemales").val(),10);

                            var totalOthers = parseInt($("#totalOthers").val() == "" ? 0 : $("#totalOthers").val(),10);
                            var selectedOthers = parseInt($("#selectedOthers").val() == "" ? 0 : $("#selectedOthers").val(),10);

                            var benchmarkIdGender = $('input[name=benchmark-gender]:checked', '#benchmark-form-gender').val();
                            var protectedIdGender = $('input[name=protected-gender]:checked', '#protected-form-gender').val();

                            //AGE
                            var totalYounger = parseInt($("#totalYounger").val() == "" ? 0 : $("#totalYounger").val(),10);
                            var selectedYounger = parseInt($("#selectedYounger").val() == "" ? 0 : $("#selectedYounger").val(),10);

                            var totalOld = parseInt($("#totalOld").val() == "" ? 0 : $("#totalOld").val(),10);
                            var selectedOld = parseInt($("#selectedOld").val() == "" ? 0 : $("#selectedOld").val(),10);

                            var benchmarkIdAge = $('input[name=benchmark-age]:checked', '#benchmark-form-age').val();
                            var protectedIdAge = $('input[name=protected-age]:checked', '#protected-form-age').val();
                            //
                            var calculateRace = 0;
                            var calculateAge = 0;
                            var calculateGender = 0;

                            // var SendData={};


                            if(checkInputs()){
                              calculateRace = 1;
                            //   sendDataRace = {
                            //     "tw": totalWhites,
                            //     "sw": selectedWhites,
                            //     "tb": totalBlacks,
                            //     "sb": selectedBlacks,
                            //     "thi": totalHispanics,
                            //     "shi": selectedHispanics,
                            //     "tha": totalHawaiians,
                            //     "sha": selectedHawaiians,
                            //     "tas": totalAsians,
                            //     "sas": selectedAsians,
                            //     "tam": totalAmericans,
                            //     "sam": selectedAmericans,
                            //     "tt": totalTows,
                            //     "st": selectedTows,
                            //     "bid": benchmarkId,
                            //     "pid": protectedId,
                            //
                            //
                            //   }
                            // SendData.Race= sendDataRace;
                            // data: SendData;
                            }
                            else{
                              calculateRace = 0;
                            }

                            if(checkGenderInputs()){
                              calculateGender = 1;
                              // sendDataGender = {
                              //   "tm": totalMales,
                              //   "tf": totalFemales,
                              //   "to": totalOthers,
                              //   "sm": selectedMales,
                              //   "sf": selectedFemales,
                              //   "so": selectedOthers,
                              //   "bidG": benchmarkIdGender,
                              //   "pidG": protectedIdGender,
                              //
                              //
                              // }
                              // SendData.Gender= sendDataGender;
                              // data: SendData;
                            }
                            else{
                              calculateGender = 0;
                            }

                            if(checkAgeInputs()){
                              calculateAge = 1;
                              // sendDataAge = {
                              //   "ty": totalYounger,
                              //   "told": totalOld,
                              //   "sy": selectedYounger,
                              //   "sold": selectedOld,
                              //   "bidA": benchmarkIdAge,
                              //   "pidA": protectedIdAge,
                              //
                              //
                              // }
                              // SendData.Age= sendDataAge;
                              // data: SendData;
                            }
                            else{
                              calculateAge = 0;
                            }
                            console.log(calculateAge);
                            console.log(calculateGender);
                            console.log(calculateRace);
                            // sendDataTrueOrFalse = {
                            //   "calcR": calculateRace,
                            //   "calcG": calculateGender,
                            //   "calcA": calculateAge,
                            // }
                            // SendData.ToF=sendDataTrueOrFalse;
                            // data: SendData;

                            sendData = {
                                "tw": totalWhites,
                                "sw": selectedWhites,
                                "tb": totalBlacks,
                                "sb": selectedBlacks,
                                "thi": totalHispanics,
                                "shi": selectedHispanics,
                                "tha": totalHawaiians,
                                "sha": selectedHawaiians,
                                "tas": totalAsians,
                                "sas": selectedAsians,
                                "tam": totalAmericans,
                                "sam": selectedAmericans,
                                "tt": totalTows,
                                "st": selectedTows,
                                "bid": benchmarkId,
                                "pid": protectedId,

                                "tm": totalMales,
                                "tf": totalFemales,
                                "to": totalOthers,
                                "sm": selectedMales,
                                "sf": selectedFemales,
                                "so": selectedOthers,
                                "bidG": benchmarkIdGender,
                                "pidG": protectedIdGender,

                                "ty": totalYounger,
                                "told": totalOld,
                                "sy": selectedYounger,
                                "sold": selectedOld,
                                "bidA": benchmarkIdAge,
                                "pidA": protectedIdAge,

                                "calcA": calculateAge,
                                "calcG": calculateGender,
                                "calcR": calculateRace,
                            }

                        },
                         data: SendData,
                        success: function(result){
                          console.log("IN SUCCESS 1.0");
                            if(result['error']) {
                              console.log("error");
                                compute(e);
                            }
                            else{
                              console.log("IN SUCCESS");
                                populateData(result);
                            }

                        }
                    });
                }

            }

            function temporaryInputCheck(){
              var totalWhites = parseInt($("#totalWhites").val()== "" ? 0 : $("#totalWhites").val(),10);
              var selectedWhites = parseInt($("#selectedWhites").val()== "" ? 0 : $("#selectedWhites").val(),10);

              var totalBlacks = parseInt($("#totalBlacks").val()== "" ? 0 : $("#totalBlacks").val(),10);
              var selectedBlacks = parseInt($("#selectedBlacks").val()== "" ? 0 : $("#selectedBlacks").val(),10);

              var totalHispanics = parseInt($("#totalHispanics").val()== "" ? 0 : $("#totalHispanics").val(),10);
              var selectedHispanics = parseInt($("#selectedHispanics").val()== "" ? 0 : $("#selectedHispanics").val(),10);

              var totalHawaiians = parseInt($("#totalHawaiians").val()== "" ? 0 : $("#totalHawaiians").val(),10);
              var selectedHawaiians = parseInt($("#selectedHawaiians").val()== "" ? 0 : $("#selectedHawaiians").val(),10);

              var totalAsians = parseInt($("#totalAsians").val()== "" ? 0 : $("#totalAsians").val(),10);
              var selectedAsians = parseInt($("#selectedAsians").val()== "" ? 0 : $("#selectedAsians").val(),10);

              var totalAmericans = parseInt($("#totalAmericans").val()== "" ? 0 : $("#totalAmericans").val(),10);
              var selectedAmericans = parseInt($("#selectedAmericans").val()== "" ? 0 : $("#selectedAmericans").val(),10);

              var totalTows = parseInt($("#totalTows").val()== "" ? 0 : $("#totalTows").val(),10);
              var selectedTows = parseInt($("#selectedTows").val()== "" ? 0 : $("#selectedTows").val(),10);

              var totalMales = parseInt($("#totalMales").val()== "" ? 0 : $("#totalMales").val(),10);
              var selectedMales = parseInt($("#selectedMales").val()== "" ? 0 : $("#selectedMales").val(),10);

              var totalFemales = parseInt($("#totalFemales").val()== "" ? 0 : $("#totalFemales").val(),10);
              var selectedFemales = parseInt($("#selectedFemales").val()== "" ? 0 : $("#selectedFemales").val(),10);

              var totalOthers = parseInt($("#totalOthers").val()== "" ? 0 : $("#totalOthers").val(),10);
              var selectedOthers = parseInt($("#selectedOthers").val()== "" ? 0 : $("#selectedOthers").val(),10);

              var totalOld = parseInt($("#totalOld").val()== "" ? 0 : $("#totalOld").val(),10);
              var selectedOld = parseInt($("#selectedOld").val()== "" ? 0 : $("#selectedOld").val(),10);

              var totalYounger = parseInt($("#totalYounger").val()== "" ? 0 : $("#totalYounger").val(),10);
              var selectedYounger = parseInt($("#selectedYounger").val()== "" ? 0 : $("#selectedYounger").val(),10);

              if(totalOld >= 0 && totalYounger >= 0  && totalMales >= 0 && totalFemales >= 0 && totalOthers >= 0 && totalWhites >= 0 && totalBlacks >= 0 && totalHispanics >= 0 && totalHawaiians >= 0 && totalAsians >= 0 && totalAmericans >= 0 && totalTows >= 0) {
                  if(selectedOld >= 0 && selectedYounger >= 0 && selectedMales >= 0 && selectedFemales >= 0 && selectedOthers >= 0 && selectedWhites >= 0 && selectedBlacks >= 0 && selectedHispanics >= 0 && selectedHawaiians >= 0 && selectedAsians >= 0 && selectedAmericans >= 0 && selectedTows >= 0) {
                      if(selectedOld <= totalOld && selectedYounger <= totalYounger && selectedMales <= totalMales && selectedFemales <= totalFemales && selectedOthers <= totalOthers && selectedWhites <= totalWhites && selectedBlacks <= totalBlacks && selectedHispanics <= totalHispanics && selectedHawaiians <= totalHawaiians && selectedAsians <= totalAsians && selectedAmericans <= totalAmericans && selectedTows <= totalTows) {
                          if($('input[name=benchmark]:checked', '#benchmark-form').val() === undefined ||
                        $('input[name=benchmark-gender]:checked', '#benchmark-form-gender').val() === undefined ||
                      $('input[name=benchmark-age]:checked', '#benchmark-form-age').val() === undefined ) {
                             alert("Select a Benchmark group");
                              return false;
                          }
                          else {
                              if($('input[name=protected]:checked', '#protected-form').val() === undefined ||
                            $('input[name=protected-gender]:checked', '#protected-form-gender').val() === undefined ||
                          $('input[name=protected-age]:checked', '#protected-form-age').val() === undefined) {
                                  alert("Select a Protected group");
                                  return false;
                              }
                              else {
                                  return true;
                              }
                          }
                      }
                      else {
                         alert("Selected Value Must be <= Total Value")
                          return false;
                      }
                  }
                  else {
                      alert("Selected Value Must be >= 0")
                      return false;
                  }
              }
              else{
                  alert("Total Value Must be >= 0")
                  return false;
              }
              return true;
            }

            function checkInputs() {

                var totalWhites = parseInt($("#totalWhites").val()== "" ? 0 : $("#totalWhites").val(),10);
                var selectedWhites = parseInt($("#selectedWhites").val()== "" ? 0 : $("#selectedWhites").val(),10);
              //console.log(totalWhites+selectedWhites);

                var totalBlacks = parseInt($("#totalBlacks").val()== "" ? 0 : $("#totalBlacks").val(),10);
                var selectedBlacks = parseInt($("#selectedBlacks").val()== "" ? 0 : $("#selectedBlacks").val(),10);

                var totalHispanics = parseInt($("#totalHispanics").val()== "" ? 0 : $("#totalHispanics").val(),10);
                var selectedHispanics = parseInt($("#selectedHispanics").val()== "" ? 0 : $("#selectedHispanics").val(),10);

                var totalHawaiians = parseInt($("#totalHawaiians").val()== "" ? 0 : $("#totalHawaiians").val(),10);
                var selectedHawaiians = parseInt($("#selectedHawaiians").val()== "" ? 0 : $("#selectedHawaiians").val(),10);

                var totalAsians = parseInt($("#totalAsians").val()== "" ? 0 : $("#totalAsians").val(),10);
                var selectedAsians = parseInt($("#selectedAsians").val()== "" ? 0 : $("#selectedAsians").val(),10);

                var totalAmericans = parseInt($("#totalAmericans").val()== "" ? 0 : $("#totalAmericans").val(),10);
                var selectedAmericans = parseInt($("#selectedAmericans").val()== "" ? 0 : $("#selectedAmericans").val(),10);

                var totalTows = parseInt($("#totalTows").val()== "" ? 0 : $("#totalTows").val(),10);
                var selectedTows = parseInt($("#selectedTows").val()== "" ? 0 : $("#selectedTows").val(),10);

                if(totalWhites >= 0 && totalBlacks >= 0 && totalHispanics >= 0 && totalHawaiians >= 0 && totalAsians >= 0 && totalAmericans >= 0 && totalTows >= 0) {
                    if(selectedWhites >= 0 && selectedBlacks >= 0 && selectedHispanics >= 0 && selectedHawaiians >= 0 && selectedAsians >= 0 && selectedAmericans >= 0 && selectedTows >= 0) {
                        if(selectedWhites <= totalWhites && selectedBlacks <= totalBlacks && selectedHispanics <= totalHispanics && selectedHawaiians <= totalHawaiians && selectedAsians <= totalAsians && selectedAmericans <= totalAmericans && selectedTows <= totalTows) {
                            if($('input[name=benchmark]:checked', '#benchmark-form').val() === undefined) {
                                //alert("Select a Benchmark group");
                                return false;
                            }
                            else {
                                if($('input[name=protected]:checked', '#protected-form').val() === undefined) {
                                  //  alert("Select a Protected group");
                                    return false;
                                }
                                else {
                                    return true;
                                }
                            }
                        }
                        else {
                        //    alert("Selected Value Must be <= Total Value")
                            return false;
                        }
                    }
                    else {
                      //  alert("Selected Value Must be >= 0")
                        return false;
                    }
                }
                else{
                  //  alert("Total Value Must be >= 0")
                    return false;
                }
                return true;
            }

            function checkGenderInputs(){
              var totalMales = parseInt($("#totalMales").val()== "" ? 0 : $("#totalMales").val(),10);
              var selectedMales = parseInt($("#selectedMales").val()== "" ? 0 : $("#selectedMales").val(),10);

              var totalFemales = parseInt($("#totalFemales").val()== "" ? 0 : $("#totalFemales").val(),10);
              var selectedFemales = parseInt($("#selectedFemales").val()== "" ? 0 : $("#selectedFemales").val(),10);

              var totalOthers = parseInt($("#totalOthers").val()== "" ? 0 : $("#totalOthers").val(),10);
              var selectedOthers = parseInt($("#selectedOthers").val()== "" ? 0 : $("#selectedOthers").val(),10);

              if(totalMales >= 0 && totalFemales >= 0 && totalOthers >= 0 ) {
                  if(selectedMales >= 0 && selectedFemales >= 0 && selectedOthers >= 0 ) {
                      if(selectedMales <= totalMales && selectedFemales <= totalFemales && selectedOthers <= totalOthers) {
                          if($('input[name=benchmark-gender]:checked', '#benchmark-form-gender').val() === undefined) {
                            //  alert("Select a Benchmark group in Gender Category");
                              return false;
                          }
                          else {
                              if($('input[name=protected-gender]:checked', '#protected-form-gender').val() === undefined) {
                              //    alert("Select a Protected group in Gender Category");
                                  return false;
                              }
                              else {
                                  return true;
                              }
                          }
                      }
                      else {
                        //  alert("Selected Value Must be <= Total Value")
                          return false;
                      }
                  }
                  else {
                    //  alert("Selected Value Must be >= 0")
                      return false;
                  }
              }
              else{
              //    alert("Total Value Must be >= 0")
                  return false;
              }
              return true;

            }

            function checkAgeInputs(){
              var totalOld = parseInt($("#totalOld").val()== "" ? 0 : $("#totalOld").val(),10);
              var selectedOld = parseInt($("#selectedOld").val()== "" ? 0 : $("#selectedOld").val(),10);

              var totalYounger = parseInt($("#totalYounger").val()== "" ? 0 : $("#totalYounger").val(),10);
              var selectedYounger = parseInt($("#selectedYounger").val()== "" ? 0 : $("#selectedYounger").val(),10);

              if(totalOld >= 0 && totalYounger >= 0  ) {
                  if(selectedOld >= 0 && selectedYounger >= 0  ) {
                      if(selectedOld <= totalOld && selectedYounger <= totalYounger) {
                          if($('input[name=benchmark-age]:checked', '#benchmark-form-age').val() === undefined) {
                              //alert("Select a Benchmark group in Age Category");
                              return false;
                          }
                          else {
                              if($('input[name=protected-age]:checked', '#protected-form-age').val() === undefined) {
                                  //alert("Select a Protected group in Age Category");
                                  return false;
                              }
                              else {
                                  return true;
                              }
                          }
                      }
                      else {
                        //  alert("Selected Value Must be <= Total Value")
                          return false;
                      }
                  }
                  else {
                    //  alert("Selected Value Must be >= 0")
                      return false;
                  }
              }
              else{
                //  alert("Total Value Must be >= 0")
                  return false;
              }
              return true;

            }

            function populateData(data) {
              console.log("yes");

                $("#aiReport").html(data.aiReport);
                $("#csReport").html(data.csReport);
                $("#sdReport").html(data.sdReport);
                $("#ciReport").html(data.ciReport);
                $("#pdReport").html(data.pdReport);

                $("#results").removeClass('d-none')
                $('html, body').animate({
                    scrollTop: $("#results").offset().top
                }, 1000);
            }

        </script>

    </body>
</html>
