<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>Adverse Impact Analysis</title>
        
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
             <style>
      .border {
        display: inline-block;
        width: 100px;
        height: 70px;
        margin: 6px;
      }
      </style>
    </head>
    <body style="background: black; font-family: 'Montserrat';">

        <div class="container text-white">
            <h1 class="text-danger text-center my-4" style="font-family: 'Dancing Script', cursive;">
                <p class="display-4"><strong>ADVERSE IMPACT ANALYSIS</strong></p>
            </h1>
            <!-- <a href="https://ibb.co/YbKT9kL"><img src="https://i.ibb.co/wYbrHWz/abc.jpg" alt="abc" border="0"></a> -->
            <div style="text-align: center"><img src="https://i.ibb.co/wYbrHWz/abc.jpg" alt="Paris" width="600" height="250" class="center" padding-right: 50px;/></div>


            <br>
            <br>
            <br>
            <br>

            <!-- <h5 class="text-left mt-5 mb-3 text-success">Enter the Data</h5> -->
            <h3 class="text-center mt-2 mb-3 text-warning">RACE/ETHNICITY</h3>
            <form>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of White</label>
                        <input type="number" class="form-control" id="totalWhites" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of White selected</label>
                        <input type="number" class="form-control" id="selectedWhites" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of White</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Black or African American</label>
                        <input type="number" class="form-control" id="totalBlacks" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Black or African American selected</label>
                        <input type="number" class="form-control" id="selectedBlacks" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Black or African American</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Hispanic or Latino</label>
                        <input type="number" class="form-control" id="totalHispanics" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Hispanic or Latino selected</label>
                        <input type="number" class="form-control" id="selectedHispanics" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Hispanic or Latino</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Native Hawaiian or Pacific Islander</label>
                        <input type="number" class="form-control" id="totalHawaiians" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Native Hawaiian or Pacific Islander selected</label>
                        <input type="number" class="form-control" id="selectedHawaiians" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Native Hawaiian or Pacific Islander</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Asian</label>
                        <input type="number" class="form-control" id="totalAsians" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Asian selected</label>
                        <input type="number" class="form-control" id="selectedAsians" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Asian</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Native American or Alaska Native</label>
                        <input type="number" class="form-control" id="totalAmericans" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Native American or Alaska Native selected</label>
                        <input type="number" class="form-control" id="selectedAmericans" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Native American or Alaska Native</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of two or more races</label>
                        <input type="number" class="form-control" id="totalTows" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of two or more races selected</label>
                        <input type="number" class="form-control" id="selectedTows" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Two or more Races</small>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkWhite" value="1">
                            <label class="form-check-label" for="checkWhite">White</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkBlack" value="2">
                            <label class="form-check-label" for="checkBlack">Black or African American</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkHispanic" value="3">
                            <label class="form-check-label" for="checkHispanic">Hispanic or Latinos</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkHawaiian" value="4">
                            <label class="form-check-label" for="checkHawaiian">Native Hawaiian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkAsian" value="5">
                            <label class="form-check-label" for="checkAsian">Asian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkAmerican" value="6">
                            <label class="form-check-label" for="checkAmerican">Native American or Alaska Native</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkTwo" value="7">
                            <label class="form-check-label" for="checkTwo">Two or more races</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkWhiteP" value="1">
                            <label class="form-check-label" for="checkWhiteP">White</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkBlackP" value="2">
                            <label class="form-check-label" for="checkBlackP">Black or African American</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkHispanicP" value="3">
                            <label class="form-check-label" for="checkHispanicP">Hispanic or Latinos</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkHawaiianP" value="4">
                            <label class="form-check-label" for="checkHawaiianP">Native Hawaiian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkAsianP" value="5">
                            <label class="form-check-label" for="checkAsianP">Asian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkAmericanP" value="6">
                            <label class="form-check-label" for="checkAmericanP">Native American or Alaska Native</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkTwoP" value="7">
                            <label class="form-check-label" for="checkTwoP">Two or more races</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-4 mb-5 w-50" onclick="compute(event);">Compute</button>
                    </div>
                </div>
                <div class="row mb-5 d-none" id="results">
                    <div class="col">


                        <h2 class="text-danger text-center">Results</h2>
                        <h5 class="text-left mt-3 text-success">Adverse-Impact Report: <span class="text-white" id="aiReport">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Chi-Square Report: <span class="text-white" id="csReport">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Standard-Deviation Report: <span class="text-white" id="sdReport">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Confidence Interval Report: <span class="text-white" id="ciReport">00.00</span></h5>
                        <!-- <h5 class="text-left mt-3 text-success">Probability Distribution Report: <span class="text-white" id="pdReport">00.00</span></h5> -->
                    </div>
                </div>
            </form>





                <!-- <h5 class="text-center mt-2 mb-3 text-warning">GENDER</h5> -->
                <h3 class="text-center mt-2 mb-3 text-warning" >GENDER</h3>
                <form>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Males</label>
                        <input type="number" class="form-control" id="totalMales" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Males selected</label>
                        <input type="number" class="form-control" id="selectedMales" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of males</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Females</label>
                        <input type="number" class="form-control" id="totalFemales" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Females selected</label>
                        <input type="number" class="form-control" id="selectedFemales" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of females</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of people identified as Others</label>
                        <input type="number" class="form-control" id="totalOthers" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of people identified as Others selected</label>
                        <input type="number" class="form-control" id="selectedOthers" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of people identified as others</small>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form-gender">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkMaleB" value="1">
                            <label class="form-check-label" for="checkMaleB">Male</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkFemaleB" value="2">
                            <label class="form-check-label" for="checkFemaleB">Female</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkOtherB" value="3">
                            <label class="form-check-label" for="checkOtherB">Other</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form-gender">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected-gender" id="checkMaleP" value="1">
                            <label class="form-check-label" for="checkMaleP">Male</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected-gender" id="checkFemaleP" value="2">
                            <label class="form-check-label" for="checkFemaleP">Female</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected-gender" id="checkOtherP" value="3">
                            <label class="form-check-label" for="checkOtherP">Other</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-4 mb-5 w-50" onclick="computeGender(event);">Compute</button>
                    </div>
                </div>
                <div class="row mb-5 d-none" id="resultsGender">
                    <div class="col">
                        <h2 class="text-danger text-center">Results</h2>
                        <h5 class="text-left mt-3 text-success">Adverse-Impact Report: <span class="text-white" id="aiReportGender">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Chi-Square Report: <span class="text-white" id="csReportGender">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Standard-Deviation Report: <span class="text-white" id="sdReportGender">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Confidence Interval Report: <span class="text-white" id="ciReportGender">00.00</span></h5>
                        <!-- <h5 class="text-left mt-3 text-success">Probability Distribution Report: <span class="text-white" id="pdReportGender">00.00</span></h5> -->
                    </div>
                </div>
            </form>





                <!-- <h5 class="text-center mt-2 mb-3 text-warning">AGE</h5> -->
                <h3 class="text-center mt-2 mb-3 text-warning">AGE</h3>
                <form>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of people below the age of 40</label>
                        <input type="number" class="form-control" id="totalYounger" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Selected number of people below the age of 40</label>
                        <input type="number" class="form-control" id="selectedYounger" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of people below the age of 40</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of people above the age of 40</label>
                        <input type="number" class="form-control" id="totalOld" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label> Selected number of people above the age of 40</label>
                        <input type="number" class="form-control" id="selectedOld" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of people above the age of 40</small>
                    </div>
                </div>

                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form-age">
                    <div class="row">
                        <div class="col-auto col-md-6">
                            <input type="radio" name="benchmark-age" id="checkYoungB" value="1">
                            <label class="form-check-label" for="checkYoungB">People below the age of 40</label>
                        </div>
                        <div class="col-auto col-md-6">
                            <input type="radio" name="benchmark-age" id="checkOldB" value="2">
                            <label class="form-check-label" for="checkoldB">People above or equal to the age of 40</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form-age">
                    <div class="row">
                        <div class="col-auto col-md-6">
                            <input type="checkbox" name="protected-age" id="checkYoungP" value="1">
                            <label class="form-check-label" for="checkYoungP">People below the age of 40</label>
                        </div>
                        <div class="col-auto col-md-6">
                            <input type="checkbox" name="protected-age" id="checkOldP" value="2">
                            <label class="form-check-label" for="checkOldP">People above or equal to the age of 40</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-4 mb-5 w-50" onclick="computeAge(event);">Compute</button>
                    </div>
                </div>
                <div class="row mb-5 d-none" id="resultsAge">
                    <div class="col">
                        <h2 class="text-danger text-center">Results</h2>
                        <h5 class="text-left mt-3 text-success">Adverse-Impact Report: <span class="text-white" id="aiReportAge">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Chi-Square Report: <span class="text-white" id="csReportAge">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Standard-Deviation Report: <span class="text-white" id="sdReportAge">00.00</span></h5>
                        <h5 class="text-left mt-3 text-success">Confidence Interval Report: <span class="text-white" id="ciReportAge">00.00</span></h5>
                        <!-- <h5 class="text-left mt-3 text-success">Probability Distribution Report: <span class="text-white" id="pdReportAge">00.00</span></h5> -->
                    </div>
                </div>
            </form>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <script type="text/javascript">

            var sendData = null;

            var raceNumber = null;

            function computeGender(e){
                // var a = 2.3;
                // console.log(Number.isInteger(a));
                e.preventDefault();
                $("#resultsGender").addClass('d-none');
                if(checkGenderInputs()){
                  $.ajax({
                      method: 'POST',
                      url: "/api/compute",
                      beforeSend: function() {

                          var calculateGender = 1;
                          var calculateAge = 0;
                          var calculateRace = 0;

                          var totalMales = parseFloat($("#totalMales").val() == "" ? 0 : $("#totalMales").val());
                          var selectedMales = parseFloat($("#selectedMales").val() == "" ? 0 : $("#selectedMales").val());

                          var totalFemales = parseFloat($("#totalFemales").val() == "" ? 0 : $("#totalFemales").val());
                          var selectedFemales = parseFloat($("#selectedFemales").val() == "" ? 0 : $("#selectedFemales").val());

                          var totalOthers = parseFloat($("#totalOthers").val() == "" ? 0 : $("#totalOthers").val());
                          var selectedOthers = parseFloat($("#selectedOthers").val() == "" ? 0 : $("#selectedOthers").val());

                          if($('input[name=benchmark-gender]:checked', '#benchmark-form-gender').val() === undefined){
                            var benchmarkIdGender = 0;
                          }
                          else{
                            var benchmarkIdGender = $('input[name=benchmark-gender]:checked', '#benchmark-form-gender').val();
                          }
                          if($('input[name=protected-gender]:checked', '#protected-form-gender').val() === undefined){
                            var protectedIdGender = 0;
                          }
                          else{
                            // var protectedIdGender = $('input[name=protected-gender]:checked', '#protected-form-gender').val();
                            var searchIDs = [];
                            var protectedIdGender = [];

                            $("#protected-form-gender input:checkbox:checked").map(function(){
                              searchIDs.push($(this).val());
                              //console.log(Number.isInteger($(this).val()));
                            });
                            protectedIdGender = searchIDs;
                            protectedIdGender = JSON.stringify(protectedIdGender);
                            // console.log("OK");
                            // console.log(protectedId);
                          }
                          sendData = {
                              "tm": totalMales,
                              "tf": totalFemales,
                              "to": totalOthers,
                              "sm": selectedMales,
                              "sf": selectedFemales,
                              "so": selectedOthers,
                              "bidG": benchmarkIdGender,
                              "pidG": JSON.stringify(protectedIdGender),

                              "calcA": calculateAge,
                              "calcG": calculateGender,
                              "calcR": calculateRace,

                          }

                      },
                       data: sendData,
                      success: function(result){
                        console.log("IN SUCCESS gender");
                          if(result['error']) {
                            console.log("error");
                              computeGender(e);
                          }
                          else{
                            console.log("IN SUCCESS");
                              populateDataGender(result);
                              sendData = null;
                          }

                      }
                  });
                }

            }

            function computeAge(e){
                e.preventDefault();
                $("#resultsAge").addClass('d-none');
                if(checkAgeInputs()){
                  $.ajax({
                      method: 'POST',
                      url: "/api/compute",
                      beforeSend: function() {

                        var calculateAge = 1;
                        var calculateGender = 0;
                        var calculateRace = 0;

                        var totalYounger = parseFloat($("#totalYounger").val() == "" ? 0 : $("#totalYounger").val());
                        var selectedYounger = parseFloat($("#selectedYounger").val() == "" ? 0 : $("#selectedYounger").val());

                        var totalOld = parseFloat($("#totalOld").val() == "" ? 0 : $("#totalOld").val());
                        var selectedOld = parseFloat($("#selectedOld").val() == "" ? 0 : $("#selectedOld").val());

                          if($('input[name=benchmark-age]:checked', '#benchmark-form-age').val() === undefined){
                            var benchmarkIdAge = 0;
                          }
                          else{
                            var benchmarkIdAge = $('input[name=benchmark-age]:checked', '#benchmark-form-age').val();
                          }
                          if($('input[name=protected-age]:checked', '#protected-form-age').val() === undefined){
                            var protectedIdAge = 0;
                          }
                          else{
                            var searchIDs = [];
                            var protectedIdAge = [];

                            $("#protected-form-age input:checkbox:checked").map(function(){
                              searchIDs.push($(this).val());
                              //console.log(Number.isInteger($(this).val()));
                            });
                            protectedIdAge = searchIDs;
                            protectedIdAge = JSON.stringify(protectedIdAge);
                            // console.log("OK");
                            // console.log(protectedId);
                          }
                          sendData = {
                            "ty": totalYounger,
                            "told": totalOld,
                            "sy": selectedYounger,
                            "sold": selectedOld,
                            "bidA": benchmarkIdAge,
                            "pidA": JSON.stringify(protectedIdAge),

                              "calcA": calculateAge,
                              "calcG": calculateGender,
                              "calcR": calculateRace,

                          }

                      },
                       data: sendData,
                      success: function(result){
                        console.log("IN SUCCESS Age");
                          if(result['error']) {
                            console.log("error");
                              computeAge(e);
                          }
                          else{
                            console.log("IN SUCCESS");
                              populateDataAge(result);
                              sendData = null;
                          }

                      }
                  });
                }

            }


            function compute(e) {
            //  raceNumber =   getRaceNumber();
                e.preventDefault();
                $("#results").addClass('d-none');
                if(checkInputs()) {
                    $.ajax({
                        method: 'POST',
                        url: "/api/compute",
                        beforeSend: function() {

                          var calculateAge = 0;
                          var calculateGender = 0;
                          var calculateRace = 1;

                            var totalWhites = parseFloat($("#totalWhites").val() == "" ? 0 : $("#totalWhites").val());
                            var selectedWhites = parseFloat($("#selectedWhites").val() == "" ? 0 : $("#selectedWhites").val());

                            var totalBlacks = parseFloat($("#totalBlacks").val() == "" ? 0 : $("#totalBlacks").val());
                            var selectedBlacks = parseFloat($("#selectedBlacks").val() == "" ? 0 : $("#selectedBlacks").val());

                            var totalHispanics = parseFloat($("#totalHispanics").val() == "" ? 0 : $("#totalHispanics").val());
                            var selectedHispanics = parseFloat($("#selectedHispanics").val() == "" ? 0 : $("#selectedHispanics").val());

                            var totalHawaiians = parseFloat($("#totalHawaiians").val() == "" ? 0 : $("#totalHawaiians").val());
                            var selectedHawaiians = parseFloat($("#selectedHawaiians").val() == "" ? 0 : $("#selectedHawaiians").val());

                            var totalAsians = parseFloat($("#totalAsians").val() == "" ? 0 : $("#totalAsians").val());
                            var selectedAsians = parseFloat($("#selectedAsians").val() == "" ? 0 : $("#selectedAsians").val());

                            var totalAmericans = parseFloat($("#totalAmericans").val() == "" ? 0 : $("#totalAmericans").val());
                            var selectedAmericans = parseFloat($("#selectedAmericans").val() == "" ? 0 : $("#selectedAmericans").val());

                            var totalTows = parseFloat($("#totalTows").val() == "" ? 0 : $("#totalTows").val());
                            var selectedTows = parseFloat($("#selectedTows").val() == "" ? 0 : $("#selectedTows").val());

                            if($('input[name=benchmark]:checked', '#benchmark-form').val() === undefined){
                              var benchmarkId = 0;
                            }
                            else{
                              var benchmarkId = $('input[name=benchmark]:checked', '#benchmark-form').val();
                            }
                            if($('input[name=protected]:checked', '#protected-form').val() === undefined){
                              var protectedId = 0;
                            }
                            else{
                              // var protectedId = $('input[name=protected]:checked', '#protected-form').val();
                              var searchIDs = [];
                              var protectedId = [];

                              $("#protected-form input:checkbox:checked").map(function(){
                                searchIDs.push($(this).val());
                                //console.log(Number.isInteger($(this).val()));
                              });
                              protectedId = searchIDs;
                              protectedId = JSON.stringify(protectedId);
                              console.log("OK");
                              console.log(protectedId);
                            }


                            sendData = {
                                "tw": totalWhites,
                                "sw": selectedWhites,
                                "tb": totalBlacks,
                                "sb": selectedBlacks,
                                "thi": totalHispanics,
                                "shi": selectedHispanics,
                                "tha": totalHawaiians,
                                "sha": selectedHawaiians,
                                "tas": totalAsians,
                                "sas": selectedAsians,
                                "tam": totalAmericans,
                                "sam": selectedAmericans,
                                "tt": totalTows,
                                "st": selectedTows,
                                "bid": benchmarkId,
                                "pid": JSON.stringify(protectedId),


                                "calcA": calculateAge,
                                "calcG": calculateGender,
                                "calcR": calculateRace,
                            }

                        },
                         data: sendData,
                        success: function(result){
                          console.log("IN SUCCESS Race");
                            if(result['error']) {
                              console.log("error");
                                compute(e);
                            }
                            else{
                              console.log("IN SUCCESS");
                                populateData(result);
                                sendData = null;
                            }

                        }
                    });
                }

            }

            function getRaceNumber(){
              var searchIDs = [];

              $("#protected-form input:checkbox:checked").map(function(){
                searchIDs.push($(this).val());
              });
              console.log("Print");
              console.log(searchIDs);
              console.log(searchIDs[length]);
              return searchIDs[length];
              // console.log("OK")
              // $("#protected-form input:checked").each(function() {
              // alert( $(this).attr('value') );


		// });


            }

            function temporaryInputCheck(){
              var totalWhites = parseFloat($("#totalWhites").val()== "" ? 0 : $("#totalWhites").val(),10);
              var selectedWhites = parseFloat($("#selectedWhites").val()== "" ? 0 : $("#selectedWhites").val(),10);

              var totalBlacks = parseFloat($("#totalBlacks").val()== "" ? 0 : $("#totalBlacks").val(),10);
              var selectedBlacks = parseFloat($("#selectedBlacks").val()== "" ? 0 : $("#selectedBlacks").val(),10);

              var totalHispanics = parseFloat($("#totalHispanics").val()== "" ? 0 : $("#totalHispanics").val(),10);
              var selectedHispanics = parseFloat($("#selectedHispanics").val()== "" ? 0 : $("#selectedHispanics").val(),10);

              var totalHawaiians = parseFloat($("#totalHawaiians").val()== "" ? 0 : $("#totalHawaiians").val(),10);
              var selectedHawaiians = parseFloat($("#selectedHawaiians").val()== "" ? 0 : $("#selectedHawaiians").val(),10);

              var totalAsians = parseFloat($("#totalAsians").val()== "" ? 0 : $("#totalAsians").val(),10);
              var selectedAsians = parseFloat($("#selectedAsians").val()== "" ? 0 : $("#selectedAsians").val(),10);

              var totalAmericans = parseFloat($("#totalAmericans").val()== "" ? 0 : $("#totalAmericans").val(),10);
              var selectedAmericans = parseFloat($("#selectedAmericans").val()== "" ? 0 : $("#selectedAmericans").val(),10);

              var totalTows = parseFloat($("#totalTows").val()== "" ? 0 : $("#totalTows").val(),10);
              var selectedTows = parseFloat($("#selectedTows").val()== "" ? 0 : $("#selectedTows").val(),10);

              var totalMales = parseFloat($("#totalMales").val()== "" ? 0 : $("#totalMales").val(),10);
              var selectedMales = parseFloat($("#selectedMales").val()== "" ? 0 : $("#selectedMales").val(),10);

              var totalFemales = parseFloat($("#totalFemales").val()== "" ? 0 : $("#totalFemales").val(),10);
              var selectedFemales = parseFloat($("#selectedFemales").val()== "" ? 0 : $("#selectedFemales").val(),10);

              var totalOthers = parseFloat($("#totalOthers").val()== "" ? 0 : $("#totalOthers").val(),10);
              var selectedOthers = parseFloat($("#selectedOthers").val()== "" ? 0 : $("#selectedOthers").val(),10);

              var totalOld = parseFloat($("#totalOld").val()== "" ? 0 : $("#totalOld").val(),10);
              var selectedOld = parseFloat($("#selectedOld").val()== "" ? 0 : $("#selectedOld").val(),10);

              var totalYounger = parseFloat($("#totalYounger").val()== "" ? 0 : $("#totalYounger").val(),10);
              var selectedYounger = parseFloat($("#selectedYounger").val()== "" ? 0 : $("#selectedYounger").val(),10);

              if(totalOld >= 0 && totalYounger >= 0  && totalMales >= 0 && totalFemales >= 0 && totalOthers >= 0 && totalWhites >= 0 && totalBlacks >= 0 && totalHispanics >= 0 && totalHawaiians >= 0 && totalAsians >= 0 && totalAmericans >= 0 && totalTows >= 0) {
                  if(selectedOld >= 0 && selectedYounger >= 0 && selectedMales >= 0 && selectedFemales >= 0 && selectedOthers >= 0 && selectedWhites >= 0 && selectedBlacks >= 0 && selectedHispanics >= 0 && selectedHawaiians >= 0 && selectedAsians >= 0 && selectedAmericans >= 0 && selectedTows >= 0) {
                      if(selectedOld <= totalOld && selectedYounger <= totalYounger && selectedMales <= totalMales && selectedFemales <= totalFemales && selectedOthers <= totalOthers && selectedWhites <= totalWhites && selectedBlacks <= totalBlacks && selectedHispanics <= totalHispanics && selectedHawaiians <= totalHawaiians && selectedAsians <= totalAsians && selectedAmericans <= totalAmericans && selectedTows <= totalTows) {
                          if($('input[name=benchmark]:checked', '#benchmark-form').val() === undefined ||
                        $('input[name=benchmark-gender]:checked', '#benchmark-form-gender').val() === undefined ||
                      $('input[name=benchmark-age]:checked', '#benchmark-form-age').val() === undefined ) {
                             alert("Select a Benchmark group");
                              return false;
                          }
                          else {
                              if($('input[name=protected]:checked', '#protected-form').val() === undefined ||
                            $('input[name=protected-gender]:checked', '#protected-form-gender').val() === undefined ||
                          $('input[name=protected-age]:checked', '#protected-form-age').val() === undefined) {
                                  alert("Select a Protected group");
                                  return false;
                              }
                              else {
                                  return true;
                              }
                          }
                      }
                      else {
                         alert("Selected Value Must be <= Total Value")
                          return false;
                      }
                  }
                  else {
                      alert("Selected Value Must be >= 0")
                      return false;
                  }
              }
              else{
                  alert("Total Value Must be >= 0")
                  return false;
              }
              return true;
            }

            function checkInputs() {

                var totalWhites = parseFloat($("#totalWhites").val()== "" ? 0 : $("#totalWhites").val());
                var selectedWhites = parseFloat($("#selectedWhites").val()== "" ? 0 : $("#selectedWhites").val());
                console.log(totalWhites);

                var totalBlacks = parseFloat($("#totalBlacks").val()== "" ? 0 : $("#totalBlacks").val());
                var selectedBlacks = parseFloat($("#selectedBlacks").val()== "" ? 0 : $("#selectedBlacks").val());

                var totalHispanics = parseFloat($("#totalHispanics").val()== "" ? 0 : $("#totalHispanics").val());
                var selectedHispanics = parseFloat($("#selectedHispanics").val()== "" ? 0 : $("#selectedHispanics").val());

                var totalHawaiians = parseFloat($("#totalHawaiians").val()== "" ? 0 : $("#totalHawaiians").val());
                var selectedHawaiians = parseFloat($("#selectedHawaiians").val()== "" ? 0 : $("#selectedHawaiians").val());

                var totalAsians = parseFloat($("#totalAsians").val()== "" ? 0 : $("#totalAsians").val());
                var selectedAsians = parseFloat($("#selectedAsians").val()== "" ? 0 : $("#selectedAsians").val());

                var totalAmericans = parseFloat($("#totalAmericans").val()== "" ? 0 : $("#totalAmericans").val());
                var selectedAmericans = parseFloat($("#selectedAmericans").val()== "" ? 0 : $("#selectedAmericans").val());

                var totalTows = parseFloat($("#totalTows").val()== "" ? 0 : $("#totalTows").val());
                var selectedTows = parseFloat($("#selectedTows").val()== "" ? 0 : $("#selectedTows").val());

                  if(!Number.isInteger(totalWhites) || !Number.isInteger(totalBlacks) || !Number.isInteger(totalHispanics) || !Number.isInteger(totalHawaiians) || !Number.isInteger(totalAsians) ||  !Number.isInteger(totalAmericans) || !Number.isInteger(totalTows)){
                    alert("Total Value must be an Integer");
                    return false;
                  }

                  if(!Number.isInteger(selectedWhites) || !Number.isInteger(selectedBlacks) || !Number.isInteger(selectedHispanics) || !Number.isInteger(selectedHawaiians) || !Number.isInteger(selectedAsians) ||  !Number.isInteger(selectedAmericans) || !Number.isInteger(selectedTows)){
                    alert("Selected Value must be an Integer");
                    return false;
                  }

                if(totalWhites >= 0 && totalBlacks >= 0 && totalHispanics >= 0 && totalHawaiians >= 0 && totalAsians >= 0 && totalAmericans >= 0 && totalTows >= 0) {
                    if(selectedWhites >= 0 && selectedBlacks >= 0 && selectedHispanics >= 0 && selectedHawaiians >= 0 && selectedAsians >= 0 && selectedAmericans >= 0 && selectedTows >= 0) {
                        if(selectedWhites <= totalWhites && selectedBlacks <= totalBlacks && selectedHispanics <= totalHispanics && selectedHawaiians <= totalHawaiians && selectedAsians <= totalAsians && selectedAmericans <= totalAmericans && selectedTows <= totalTows) {
                            if($('input[name=benchmark]:checked', '#benchmark-form').val() === undefined) {
                                alert("Select a Benchmark group");
                                return false;
                            }
                            else {
                                if($('input[name=protected]:checked', '#protected-form').val() === undefined) {
                                    alert("Select a Protected group");
                                    return false;
                                }
                                else {
                                    return true;
                                }
                            }
                        }
                        else {
                            alert("Selected Value Must be <= Total Value")
                            return false;
                        }
                    }
                    else {
                        alert("Selected Value Must be >= 0")
                        return false;
                    }
                }
                else{
                    alert("Total Value Must be >= 0")
                    return false;
                }
                return true;
            }

            function checkGenderInputs(){
              var totalMales = parseFloat($("#totalMales").val()== "" ? 0 : $("#totalMales").val());
              var selectedMales = parseFloat($("#selectedMales").val()== "" ? 0 : $("#selectedMales").val());

              var totalFemales = parseFloat($("#totalFemales").val()== "" ? 0 : $("#totalFemales").val());
              var selectedFemales = parseFloat($("#selectedFemales").val()== "" ? 0 : $("#selectedFemales").val());

              var totalOthers = parseFloat($("#totalOthers").val()== "" ? 0 : $("#totalOthers").val());
              var selectedOthers = parseFloat($("#selectedOthers").val()== "" ? 0 : $("#selectedOthers").val());

              if(!Number.isInteger(totalMales) || !Number.isInteger(totalFemales) || !Number.isInteger(totalOthers)){
                alert("Total value must not be a fraction");
                return false;
              }
              if(!Number.isInteger(selectedMales) || !Number.isInteger(selectedFemales) || !Number.isInteger(selectedOthers)){
                alert("Selected value must not be a fraction");
                return false;
              }

              if(totalMales >= 0 && totalFemales >= 0 && totalOthers >= 0 ) {
                  if(selectedMales >= 0 && selectedFemales >= 0 && selectedOthers >= 0 ) {
                      if(selectedMales <= totalMales && selectedFemales <= totalFemales && selectedOthers <= totalOthers) {
                          if($('input[name=benchmark-gender]:checked', '#benchmark-form-gender').val() === undefined) {
                            alert("Select a Benchmark group in Gender Category");
                              return false;
                          }
                          else {
                              if($('input[name=protected-gender]:checked', '#protected-form-gender').val() === undefined) {
                                  alert("Select a Protected group in Gender Category");
                                  return false;
                              }
                              else {
                                  return true;
                              }
                          }
                      }
                      else {
                          alert("Selected Value Must be <= Total Value")
                          return false;
                      }
                  }
                  else {
                      alert("Selected Value Must be >= 0")
                      return false;
                  }
              }
              else{
                  alert("Total Value Must be >= 0")
                  return false;
              }
              return true;

            }

            function checkAgeInputs(){
              var totalOld = parseFloat($("#totalOld").val()== "" ? 0 : $("#totalOld").val());
              var selectedOld = parseFloat($("#selectedOld").val()== "" ? 0 : $("#selectedOld").val());

              var totalYounger = parseFloat($("#totalYounger").val()== "" ? 0 : $("#totalYounger").val());
              var selectedYounger = parseFloat($("#selectedYounger").val()== "" ? 0 : $("#selectedYounger").val());

              if(!Number.isInteger(totalOld) || !Number.isInteger(totalYounger)){
                alert("Total value must not be a fraction");
                return false;
              }
              if(!Number.isInteger(selectedOld) || !Number.isInteger(selectedYounger)){
                alert("Selected value must not be a fraction");
                return false;
              }

              if(totalOld >= 0 && totalYounger >= 0  ) {
                  if(selectedOld >= 0 && selectedYounger >= 0  ) {
                      if(selectedOld <= totalOld && selectedYounger <= totalYounger) {
                          if($('input[name=benchmark-age]:checked', '#benchmark-form-age').val() === undefined) {
                              alert("Select a Benchmark group in Age Category");
                              return false;
                          }
                          else {
                              if($('input[name=protected-age]:checked', '#protected-form-age').val() === undefined) {
                                  alert("Select a Protected group in Age Category");
                                  return false;
                              }
                              else {
                                  return true;
                              }
                          }
                      }
                      else {
                          alert("Selected Value Must be <= Total Value")
                          return false;
                      }
                  }
                  else {
                      alert("Selected Value Must be >= 0")
                      return false;
                  }
              }
              else{
                  alert("Total Value Must be >= 0")
                  return false;
              }
              return true;

            }

            function populateData(data) {
              console.log("yes");

                $("#aiReport").html(data.aiReport);
                $("#csReport").html(data.csReport);
                $("#sdReport").html(data.sdReport);
                $("#ciReport").html(data.ciReport);
                $("#pdReport").html(data.pdReport);

                $("#results").removeClass('d-none')
                $('html, body').animate({
                    scrollTop: $("#results").offset().top
                }, 1000);
            }

            function populateDataGender(data) {
              console.log("yes");

                $("#aiReportGender").html(data.aiReport);
                $("#csReportGender").html(data.csReport);
                $("#sdReportGender").html(data.sdReport);
                $("#ciReportGender").html(data.ciReport);
                $("#pdReportGender").html(data.pdReport);

                $("#resultsGender").removeClass('d-none')
                $('html, body').animate({
                    scrollTop: $("#resultsGender").offset().top
                }, 1000);
            }

            function populateDataAge(data) {
              console.log("yes");

                $("#aiReportAge").html(data.aiReport);
                $("#csReportAge").html(data.csReport);
                $("#sdReportAge").html(data.sdReport);
                $("#ciReportAge").html(data.ciReport);
                $("#pdReportAge").html(data.pdReport);

                $("#resultsAge").removeClass('d-none')
                $('html, body').animate({
                    scrollTop: $("#resultsAge").offset().top
                }, 1000);
            }

        </script>

    </body>
</html>
