<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom-bs.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/line-icons/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
 </head>
<body id="top">
<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

<style>
.dropdn {
  position: absolute;
}
.dropdown-menu {
  display: none;
  position: absolute;
  /*width: 11px;*/
}
</style>
    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-left">

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="/" class="nav-link active">Home</a></li>
              <li><button class="btn btn-primary dropdown-toggle" style="border:1px solid transparent; background-color: transparent;" data-toggle="dropdown">Employment Decisions
              <span class="caret"></span></button>

              <ul class="dropdown-menu">
                <!-- <li><a href="index"style="color:black">Home</a></li> -->
               <li><a href="selection"style="color:black">Selection</a></li>
               <li><a href ="promotion"style="color:black">Promotions</a></li>
               <li><a href="demotion"style="color:black">Demotions</a></li>
               <li><a href="termination"style="color:black">Termination</a></li>

              </ul>
            </li>


            </ul>
            <!-- <div class="dropdn">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Employment Decisions
    <span class="caret"></span></button>

    <ul class="dropdown-menu">
      <li><a href="index"style="color:black">Home</a></li>
     <li><a href="selection"style="color:black">Selection</a></li>
     
     <li><a href="demotion"style="color:black">Demotions</a></li>
     <li><a href="termination"style="color:black">Termination</a></li>

    </ul>

  </div> --> -->
          </nav>

          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              <a href="#" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-paper-plane"></span>Contact Us</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>
