{% include "common_header.html" %}

<!-- HOME -->
<section class="home-section section-hero overlay bg-image" style="background-image: url({{ url_for('static', filename='images/hero_1.jpg')}});" id="home-section">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
 <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <p style="font-size:70px"class="text-orange font-weight-bold"><mark style="background-color:blue;" ><span style="color:white"><bold>BALANCED HIRING </mark></bold></span></p>
             

<br>



<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Click for Instructions
    <span class="caret"></span></button>
    <center>
    <ul class="dropdown-menu">
     <li><a href="#">There are three categories- Race/Ethnicity, Gender, Age. For each hire, use the hiring pool and potential candidates selected to understand potential unconscious bias and avoid unintentional adverse impacts for candidates and your company. Enter the job title, job level location and projected data of hire. Then input the total number of applicants in the left column and the total number potentially selected in the race/ethnicity, gender, and/or age categories. This tool will calculate four separate tests to understand your balance in hiring for this position. Click compute to understand whether your hiring decisions will cause adverse impacts.</center></a></li>
      
    </ul>
  </div>
<br>
<br>
<br>
<br>


                        <form>
                          <div class="row">
                            <div class="form-group col-12 col-md-6">
                                <label><span style="color:white">Enter Job Title</label>
                                <input type="text" class="form-control" id="jobTitle" placeholder="">
                                <small class="form-text text-muted"></small>
                            </div>
                            <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                              <label for="exampleFormControlSelect1"><span style="color:white">Select Job Location</label></span>
                              <select class="form-control" id="jobLocation">
                                <option>Alabama</option>
                                <option>Alaska</option>
                                <option>Arizona</option>
                                <option>Arkansas</option>
                                <option>California</option>
                                <option>Colorado</option>
                                <option>Connecticut</option>
                                <option>Delaware</option>
                                <option>Florida</option>
                                <option>Georgia</option>
                                <option>Hawaii</option>
                                <option>Idaho</option>
                                <option>Illinois</option>
                                <option>Indiana</option>
                                <option>Iowa</option>
                                <option>Kansas</option>
                                <option>Kentucky</option>
                                <option>Louisiana</option>
                                <option>Maine</option>
                                <option>Maryland</option>
                                <option>Massachusetts</option>
                                <option>Michigan</option>
                                <option>Minnesota</option>
                                <option>Mississippi</option>
                                <option>Missouri</option>
                                <option>Montana</option>
                                <option>Nebraska</option>
                                <option>Nevada</option>
                                <option>New Hampshire</option>
                                <option>New Jersey</option>
                                <option>New Mexico</option>
                                <option>New York</option>
                                <option>North Carolina</option>
                                <option>North Dakota</option>
                                <option>Ohio</option>
                                <option>Oklahoma</option>
                                <option>Oregon</option>
                                <option>Pennsylvania</option>
                                <option>Rhode Island</option>
                                <option>South Carolina</option>
                                <option>South Dakota</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Utah</option>
                                <option>Vermont</option>
                                <option>Virginia</option>
                                <option>Washington</option>
                                <option>West Virginia</option>
                                <option>Wisconsin</option>
                                <option>Wyoming</option>
                              </select>
                            </div>
                          </div>
                          <div class = "row">
                            <div class="form-group col-12 col-md-6">
                                <label><span style="color:white">Enter Job Level</label>
                                <input type="text" class="form-control" id="jobLevel" placeholder="">
                                <small class="form-text text-muted"></small>
                            </div>
                            <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                                <label><span style="color:white">Enter the Date of Hire</label>
                                <input type="date" class="form-control" id="hireDate" placeholder="">
                                <small class="form-text text-muted"></small>
                            </div>
                          </div>
                        </form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>   
    </section>
 
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url({{ url_for('static', filename='images/hero_1.jpg')}});">
      <div class="container" >
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2 text-white">Balanced Hiring</h2>
              <h2 class="section-title mb-2 text-white">Avoid Unconscious Bias</h2>
              <h2 class="section-title mb-2 text-white">Guard Against Adverse Impacts</h2>
           
          </div>
        </div>
        <div class="row pb-0 block__19738 section-counter">

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="1930">0</strong>
            </div>
            <span class="caption">Candidates</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="54">0</strong>
            </div>
            <span class="caption">Jobs Posted</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="120">0</strong>
            </div>
            <span class="caption">Jobs Filled</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="550">0</strong>
            </div>
            <span class="caption">Companies</span>
          </div>

            
        </div>
      </div>
    </section>

    <section class="bg-light pt-5 testimony-full">
        <div class="owl-carousel single-carousel">        
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mx-auto">
              
                <blockquote>
                  <p>&ldquo;Enter some qoute......... .&rdquo;</p>
                  <p><cite> &mdash; XYZ and ABC</cite></p>
                </blockquote>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-6 mx-auto">
                
                <blockquote>
                  <p>&ldquo;Enter some qoute.........&rdquo;</p>
                  <p><cite> &mdash; XYZ</cite></p>
                </blockquote>
              </div>
            </div>
          </div>

      </div>

    </section>


  {% include "common_footer.html" %}
  </body>
</html>