{% include "common_header.html" %}

<!-- HOME -->
<section class="home-section section-hero inner-page overlay bg-image" style="background-image: url({{ url_for('static', filename='images/prom.jpg')}});"
  id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Selection</h1>
          <p>Balanced Selection. Avoid Unconscious Bias.</p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<style>
    #myDIV {
              width: 100%;
              padding: 50px 0;
              text-align: center;
              background-color: lightblue;
              margin-top: 20px;
            }

            #myDIVAge {
              width: 100%;
              padding: 50px 0;
              text-align: center;
              background-color: lightblue;
              margin-top: 20px;
            }

            #myDIVGender {
              width: 100%;
              padding: 50px 0;
              text-align: center;
              background-color: lightblue;
              margin-top: 20px;
            }

            </style>

    <section class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">


<!-- Prarthna insert below this -->
 <h3 class="text-center mt-2 mb-3 text-success">RACE/ETHNICITY</h3>


            <form>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of White</label>
                        <input type="number" class="form-control" id="totalWhites" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of White selected</label>
                        <input type="number" class="form-control" id="selectedWhites" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of White</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Black or African American</label>
                        <input type="number" class="form-control" id="totalBlacks" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Black or African American selected</label>
                        <input type="number" class="form-control" id="selectedBlacks" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Black or African American</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Hispanic or Latino</label>
                        <input type="number" class="form-control" id="totalHispanics" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Hispanic or Latino selected</label>
                        <input type="number" class="form-control" id="selectedHispanics" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Hispanic or Latino</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Native Hawaiian or Pacific Islander</label>
                        <input type="number" class="form-control" id="totalHawaiians" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Native Hawaiian or Pacific Islander selected</label>
                        <input type="number" class="form-control" id="selectedHawaiians" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Native Hawaiian or Pacific Islander</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Asian</label>
                        <input type="number" class="form-control" id="totalAsians" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Asian selected</label>
                        <input type="number" class="form-control" id="selectedAsians" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Asian</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Native American or Alaska Native</label>
                        <input type="number" class="form-control" id="totalAmericans" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Native American or Alaska Native selected</label>
                        <input type="number" class="form-control" id="selectedAmericans" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Native American or Alaska Native</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of two or more races</label>
                        <input type="number" class="form-control" id="totalTows" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of two or more races selected</label>
                        <input type="number" class="form-control" id="selectedTows" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of Two or more Races</small>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkWhite" value="1">
                            <label class="form-check-label" for="checkWhite">White</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkBlack" value="2">
                            <label class="form-check-label" for="checkBlack">Black or African American</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkHispanic" value="3">
                            <label class="form-check-label" for="checkHispanic">Hispanic or Latino</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkHawaiian" value="4">
                            <label class="form-check-label" for="checkHawaiian">Native Hawaiian or Pacific Islander</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkAsian" value="5">
                            <label class="form-check-label" for="checkAsian">Asian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkAmerican" value="6">
                            <label class="form-check-label" for="checkAmerican">Native American or Alaska Native</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark" id="checkTwo" value="7">
                            <label class="form-check-label" for="checkTwo">Two or more races</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkWhiteP" value="1">
                            <label class="form-check-label" for="checkWhiteP">White</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkBlackP" value="2">
                            <label class="form-check-label" for="checkBlackP">Black or African American</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkHispanicP" value="3">
                            <label class="form-check-label" for="checkHispanicP">Hispanic or Latino</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkHawaiianP" value="4">
                            <label class="form-check-label" for="checkHawaiianP">Native Hawaiian or Pacific Islander</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkAsianP" value="5">
                            <label class="form-check-label" for="checkAsianP">Asian</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkAmericanP" value="6">
                            <label class="form-check-label" for="checkAmericanP">Native American or Alaska Native</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected" id="checkTwoP" value="7">
                            <label class="form-check-label" for="checkTwoP">Two or more races</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-4 mb-5 w-50" onclick="compute(event);">Compute</button>
                    </div>
                </div>

                <!-- <div class="row mb-5 d-none" id="results"> -->
                    <!-- <div class="col"> -->


                    <div class="row mb-5 d-none" id="results">

                    <div class="column">
                        <h2 class="text-danger text-center">Results</h2>
                        <div id="myDIV">
                          This is my DIV element.
                        </div>



                    </div>
                </div>

            </form>





                <!-- <h5 class="text-center mt-2 mb-3 text-warning">GENDER</h5> -->
                <h3 class="text-center mt-2 mb-3 text-warning" >GENDER</h3>
                <form>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Males</label>
                        <input type="number" class="form-control" id="totalMales" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Males selected</label>
                        <input type="number" class="form-control" id="selectedMales" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of males</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of Females</label>
                        <input type="number" class="form-control" id="totalFemales" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of Females selected</label>
                        <input type="number" class="form-control" id="selectedFemales" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of females</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of people identified as Others</label>
                        <input type="number" class="form-control" id="totalOthers" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Number of people identified as Others selected</label>
                        <input type="number" class="form-control" id="selectedOthers" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of people identified as others</small>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form-gender">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkMaleB" value="1">
                            <label class="form-check-label" for="checkMaleB">Male</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkFemaleB" value="2">
                            <label class="form-check-label" for="checkFemaleB">Female</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="radio" name="benchmark-gender" id="checkOtherB" value="3">
                            <label class="form-check-label" for="checkOtherB">Other</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form-gender">
                    <div class="row">
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected-gender" id="checkMaleP" value="1">
                            <label class="form-check-label" for="checkMaleP">Male</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected-gender" id="checkFemaleP" value="2">
                            <label class="form-check-label" for="checkFemaleP">Female</label>
                        </div>
                        <div class="col-auto col-lg-4">
                            <input type="checkbox" name="protected-gender" id="checkOtherP" value="3">
                            <label class="form-check-label" for="checkOtherP">Other</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-4 mb-5 w-50" onclick="computeGender(event);">Compute</button>
                    </div>
                </div>
                <div class="row mb-5 d-none" id="resultsGender">

                        <div class="column">
                            <h2 class="text-danger text-center">Results</h2>
                            <div id="myDIVGender">
                              This is my DIV element.
                            </div>
                          </div>
                    </div>
            </form>


 <h3 class="text-center mt-2 mb-3 text-warning">AGE</h3>
                <form>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of people below the age of 40</label>
                        <input type="number" class="form-control" id="totalYounger" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label>Selected number of people below the age of 40</label>
                        <input type="number" class="form-control" id="selectedYounger" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of people below the age of 40</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label>Total number of people above the age of 40</label>
                        <input type="number" class="form-control" id="totalOld" placeholder="">
                        <small class="form-text text-muted">Enter value greater than zero</small>
                    </div>
                    <div class="form-group col-12 col-md-6 mt-2 mt-md-0">
                        <label> Selected number of people above the age of 40</label>
                        <input type="number" class="form-control" id="selectedOld" placeholder="">
                        <small class="form-text text-muted">Enter value less than or equal to total number of people above the age of 40</small>
                    </div>
                </div>

                <h5 class="text-left mt-4 mb-3 text-success">Select Benchmark Group</h5>
                <div class="form-check p-0" id="benchmark-form-age">
                    <div class="row">
                        <div class="col-auto col-md-6">
                            <input type="radio" name="benchmark-age" id="checkYoungB" value="1">
                            <label class="form-check-label" for="checkYoungB">People below the age of 40</label>
                        </div>
                        <div class="col-auto col-md-6">
                            <input type="radio" name="benchmark-age" id="checkOldB" value="2">
                            <label class="form-check-label" for="checkoldB">People above or equal to the age of 40</label>
                        </div>
                    </div>
                </div>
                <h5 class="text-left mt-4 mb-3 text-success">Select Protected Group</h5>
                <div class="form-check p-0" id="protected-form-age">
                    <div class="row">
                        <div class="col-auto col-md-6">
                            <input type="checkbox" name="protected-age" id="checkYoungP" value="1">
                            <label class="form-check-label" for="checkYoungP">People below the age of 40</label>
                        </div>
                        <div class="col-auto col-md-6">
                            <input type="checkbox" name="protected-age" id="checkOldP" value="2">
                            <label class="form-check-label" for="checkOldP">People above or equal to the age of 40</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary btn-lg mt-4 mb-5 w-50" onclick="computeAge(event);">Compute</button>
                    </div>
                </div>
                <div class="row mb-5 d-none" id="resultsAge">

                        <div class="column">
                            <h2 class="text-danger text-center">Results</h2>
                            <div id="myDIVAge">
                              This is my DIV element.
                            </div>
                          </div>
                    </div>
            </form>









          </div>
        </div>



        </div>

    </section>


    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url({{ url_for('static', filename='images/hero_1.jpg')}});">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">INSERT SOMETHINGGGG</h2>
            <p class="mb-0 text-white lead">*insert here*</p>
          </div>

        </div>
      </div>
    </section>



  </div>

{% include "common_footer.html" %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/promotion.js') }}"></script>
</body>

</html>
